<h1>映画一覧</h1>

<div class="movie_box">
  <% @movies.each do |movie| %>
    <ul class="movie_item">
      <%= image_tag movie.image_url, size: '280x280' %>
      <li><%= movie.name %></li>
      <li><%= movie.year %></li>
      <li><%= movie.description %></li>
    </ul>
  <% end %>
</div>
