.movie_box {
  padding: 50px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  
}

.movie_item {
  padding: 1px;
  margin: 20px;
  border-radius: 5px;
  width: 280px;
  border: solid;
  list-style: none;
}

table {
  border: solid 1px black;
  border-collapse: collapse;
  width: 95%;
  table-layout: fixed;
  th {
    background-color: royalblue;
    border: solid 1px black;
    width: 15%;
  }
  td {
    border: solid 1px black;
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .centered_cell {
    text-align: center;
  }
}
